body { 
    background-color: #FFF2D8;
}

#titulo {
    text-align: center;
    font-size: 40px;
    color: brown;

}

.texto {
    text-align: center;
    color:rgb(197, 60, 156);
}

